{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block extrahead %}
    {{ form.media }}
{% endblock %}
{% block content %}
    
{% if user.is_authenticated %}
    <h1>Add an Event</h1>

    {% csrf_token %}
    {% crispy form %}

{% else %}
<link href="https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap" rel="stylesheet">
       <style>
       body {
         background-image: url("{% static 'cat.jpg' %}");
         background-size:1600px 900px;
       }
       h1{
           color:#D17B43;
           font-family: 'Zilla Slab',serif;
           font-size: 50px;
       }
       p{
           color:#B58F12;
           font-family: 'Zilla Slab',serif;
           font-size: 26px;
       }
       footer {
           bottom: 0;
           width:100%;
           position: relative;
       }
       </style>
      <div class="container text-center">
      <h1>Add Events</h1>
      <p>Log in to create public events for your community, or keep it private by inviting other users! You can also add tags on the events so other users with interests can find the event and meet up!</p>
      </div>
{% endif %}


{% endblock %}
