{% extends "base.html" %}
{% load static %}
{% block content %}
<style>
    li{
        font-size: 25px;
    }
    a:hover {
        color: #f6d6ad;
    }
    a {
        color: #ffd57e;
    }
    footer{
        position:absolute;
    }
</style>

<div class="container text-center">
    <h1>
        {{a| title}}
    </h1>
    
    {% for event in events %}
    <div class="container text-center">
    <li><a href="{% url 'events:detail' event.id %}">{{ event.name | title }}</a></li></div>
    {% endfor %}

</div>
{% endblock %}
