{% extends "base.html" %}
{% load static %}
{% block content %}


<link rel="stylesheet" href="/static/css/main.css">
    <script>
        if (!window.chrome) {
            alert('Please update your browser to Chrome for the full site experience.');
        }
    </script>
{% if user.is_authenticated %}
    <div class="container">
        <h1>Current Events</h1>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">

        <table cellpadding="0" cellspacing="0" align="center" class="table" style="display: inline-block; display: block; border-collapse: collapse" align="center">
                <tr>
            {% for event in object_list%}
                    <th>
                        <a href="{% url 'events:detail' event.id %}">
                            <div class="mh-100" style="width: 330px; height: 330px; background-image: url('{{ event.photo.url }}'); background-size: 330px 330px; border-radius: 16px;">
                                <p style="font-size: 1.1em;font-family: 'Noto Sans JP',serif; color: black; text-align: center; background: rgba(232, 232, 232, .5); border-radius: 15px 15px 2px 2px;"> {{ event.name|title }} </p>
                            </div>
                        </a>
                    </th>
                {% if forloop.counter|divisibleby:3 %}
                </tr>
                <tr>
                {% elif forloop.last %}
                </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>
    <br>

    <div class="container" style="justify-content: center; display: flex">
        <h1 style="justify-content: center">Events Near You</h1>
    </div>
    <!-- Buttons for sattelite, street, etc. Messes with events on map... -->
    <div class="container" style="display: flex; justify-content: center;">
        <!-- <div id="menu" class="btn-group btn-group-toggle" >
            <label class="btn btn-secondary active" for="streets-v11">
                <input id="streets-v11" type="radio" name="name="rtoggle  autocomplete="off" checked> Streets
              </label>
              <label class="btn btn-secondary active" for="outdoors-v11">
                  <input id="outdoors-v11" type="radio" name="name="rtoggle  autocomplete="off" checked> Outdoors
              </label>
              <label class="btn btn-secondary active" for="satellite-v9">
                  <input id="satellite-v9" type="radio" name="name="rtoggle  autocomplete="off" checked> Satellite
              </label>
        </div> -->
    </div>

    <br>
    <div class="container" style="display: flex; justify-content: center;">
        <div id='map' style="height: 600px; width: 100%;"></div>
    </div>
     <script>
        var longitude = -78.5176329005563; // Default to Charlottesville because why not
        var latitude = 38.008261664962625;
        getLocation();

        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                alrt("Geolocation is not supported by this browser.");
            }
        }

        function showPosition(position) {
            latitude = position.coords.latitude;
            longitude= position.coords.longitude;
            mapboxgl.accessToken = 'pk.eyJ1IjoibmNvb25leSIsImEiOiJja2c2dDFhNXMwMG1uMnltdXNocGJyaXB4In0.hZEsOS4rcPya0rSBefUh7A';
            var map = new mapboxgl.Map({
                container: 'map', // container id
                style: 'mapbox://styles/mapbox/streets-v11',
                center: [longitude, latitude], // starting position
                zoom: 9, // starting zoom
            });
            var marker = new mapboxgl.Marker()
                .setLngLat([position.coords.longitude, position.coords.latitude])
                .addTo(map);

            // var layerList = document.getElementById('menu');
            // var inputs = layerList.getElementsByTagName('input');

            // function switchLayer(layer) {
            //     var layerId = layer.target.id;
            //     map.setStyle('mapbox://styles/mapbox/' + layerId);
            // }

            // for (var i = 0; i < inputs.length; i++) {
            //     inputs[i].onclick = switchLayer;
            // }

            var latitudes = [
                {% for event in object_list %}
                    '{{ event.get_latitude }}',
                {% endfor %}
            ];
            var longitudes = [
                {% for event in object_list %}
                    '{{ event.get_longitude }}',
                {% endfor %}
            ];
            var desciptions = [
                {% for event in object_list %}
                    '{{ event.description | capfirst }}',
                {% endfor %}
            ];
            var names = [
                {% for event in object_list %}
                    '{{ event.name | title }}',
                {% endfor %}
            ];
            var dates = [
                {% for event in object_list %}
                    '{{ event.event_date }}',
                {% endfor %}
            ];
            var identifiers = [
                {% for event in object_list %}
                    '{{ event.name }}' + Math.random().toString(36).substr(2, 5),
                {% endfor %}
            ];
            var ids = [
                {% for event in object_list %}
                    '{{ event.id }}',
                {% endfor %}
            ];

            // Add zoom and rotation controls to the map.
            map.addControl(new mapboxgl.NavigationControl());

            map.on('load', function () {
                
                map.loadImage(
                    'https://upload.wikimedia.org/wikipedia/commons/7/7a/Map_symbol_attraction_02.png',
                    function (error, image) {
                        if (error) throw error;
                        map.addImage('cat', image);
                    }
                );

                for (let i = 0; i < names.length; i++) {
                    map.addSource(identifiers[i], {
                        'type': 'geojson',
                        'data': {
                            'type': 'FeatureCollection',
                            'features': [
                            {
                                'type': 'Feature',
                                'properties': {
                                    'description':
                                    '<strong><a href="/events/' + ids[i] + '/">' + names[i] + '</a>' + '<p>'+ desciptions[i] + '<br>' + dates[i] + '</p>',
                                    'icon': 'information'
                                },
                                'geometry': {
                                    'type': 'Point',
                                    'coordinates': [parseFloat(longitudes[i]), parseFloat(latitudes[i])]
                                }
                            },
                            ]
                    }
                    });
                }

                for (let i = 0; i < names.length; i++) {

                    // Add a layer showing the places.
                    map.addLayer({
                        'id': identifiers[i],
                        'type': 'symbol',
                        'source': identifiers[i],
                        'layout': {
                            'icon-image': 'cat',
                            'icon-allow-overlap': true,
                            'icon-size': 0.07,
                        }
                    });

                    // When a click event occurs on a feature in the places layer, open a popup at the
                    // location of the feature, with description HTML from its properties.
                    map.on('click', identifiers[i], function (e) {
                        var coordinates = e.features[0].geometry.coordinates.slice();
                        var description = e.features[0].properties.description;

                        // Ensure that if the map is zoomed out such that multiple
                        // copies of the feature are visible, the popup appears
                        // over the copy being pointed to.
                        while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
                            coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
                        }

                        new mapboxgl.Popup()
                        .setLngLat(coordinates)
                        .setHTML(description)
                        .addTo(map);
                    });

                    // Change the cursor to a pointer when the mouse is over the places layer.
                    map.on('mouseenter', identifiers[i], function () {
                        map.getCanvas().style.cursor = 'pointer';
                    });

                    // Change it back to a pointer when it leaves.
                    map.on('mouseleave', identifiers[i], function () {
                        map.getCanvas().style.cursor = '';
                    });
                }
            });

        }
    </script>


{% else %}
    
    <link href="https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap" rel="stylesheet">
         <style>
         body {
           background-image: url("{% static 'cat.jpg' %}");
           background-size:1600px 900px;
         }
         h1{
             color:#D17B43;
             font-family: 'Zilla Slab',serif;
             font-size: 50px;
         }
         p{
             color:#B58F12;
             font-family: 'Zilla Slab',serif;
             font-size: 25px;
         }
         footer {
             bottom: 0;
             width:100%;
             position: absolute;
         }
         </style>
        <div class="container text-center">
        <h1>Welcome to Event Finder by Kool Katz!</h1>
        <p>Feel free to log in and explore our site. Find events based off of interests, location, and more! Click on an event to see the details such as the event description, author information, and even current weather of the event location. Don't forget to share your experiences by dropping a comment on the events!</p>
        </div>
{% endif %}
{% endblock %}
