{% extends "base.html" %}
{% load static %}
{% block content %}
{% load events_extras %}

<link rel="stylesheet" href="{% static 'events/css/style.css' %}">

{% if user.is_authenticated %}

<style>
.wrapper {
  min-height: 100%;
  margin-bottom: -50px;
}
.footer{
    position: absolute;
    bottom: 0;
}
.push {
  height: 50px;
}
.modal {
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.modal-content {
  margin: auto;
  padding: 20px;
  border: 1px solid;
  width: 60%;
}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 30px;
}
.close:hover,
.close:focus {
  color: #000;
  cursor: pointer;
}
.deleteBtn{
    background-color: red;
    color:white;
    border-radius: 4px;
    border: 0px ;
    padding: 5px 5px;
    font-size:15px;
}
li{
  font-size: 25px;
}
a:hover {
  color: #a26035;
}
a {
  color: #D17B43;
}
</style>

<br>
<h3 style="color:#D17B43"> Events You Made </h3>
<ul class="list-group">
  {% if made %}
    {% for event in made %}
      <li class="list-group-item">
        <a href="{% url 'events:detail' event.id %}">{{ event.name | title }}</a>
        {% if event.author == request.user.username %}
          <div style="display:inline; float: right;">
            <a href="{% url 'events:edit_event' event.id %}" class="btn btn-primary btn-sm">Edit</a>
            <button class="deleteBtn">Delete</button>
            <div id="Modal" class="modal">
              <div class="modal-content">
                <p class="close">&times;</p>
                <p> You are deleting this event! Click delete to confirm. </p>
                <a href="{% url 'events:delete_event' event.id %}" class="btn btn-danger btn-sm">Delete</a>
              </div>
            </div>
          </div>
        {% endif %}
      </li>
    {% endfor %}
  {% else %}
    <ul class="list-group">
        <li class="list-group-item">None yet!</li>
    </ul>
  {% endif %}
</ul>

<br>
<h3 style="color:#D17B43"> Events You Bookmarked </h3>
<ul class="list-group">
  {% if bookmark %}
    {% for event in bookmark %}
      <li class="list-group-item">
        <a href="{% url 'events:detail' event.id %}">{{ event.name | title }}</a>
      </li>
    {% endfor %}
  {% else %}
    <ul class="list-group">
        <li class="list-group-item">None yet!</li>
    </ul>
  {% endif %}
</ul>

<br>
<h3 style="color:#D17B43"> Events You Signed Up For </h3>
<ul class="list-group">
  {% if attendees %}
    {% for event in attendees %}
      <li class="list-group-item">
        <a href="{% url 'events:detail' event.id %}">{{ event.name | title }}</a>
      </li>
    {% endfor %}
  {% else %}
    <ul class="list-group">
        <li class="list-group-item">None yet!</li>
    </ul>
  {% endif %}
</ul>

<!-- Only show if invited to any events -->
{% if invite %}
  <br>
  <h3 style="color:#D17B43"> Events You Are Invited To </h3>
  <ul class="list-group">
    {% for event in invite %}
      <li class="list-group-item">
        <a href="{% url 'events:detail' event.id %}">{{ event.name | title }}</a>
      </li>
    {% endfor %}
  </ul>
{% endif %}
<div class="editable-alias" style="display:block; height: 310px; width: 100%;">&nbsp;</div>

<script>
  var modal = document.getElementById("Modal");
  var x = document.getElementsByClassName("close");
  var buttons = document.getElementsByClassName('deleteBtn');
  for(var i=0; i<buttons.length; i++){
      buttons[i].addEventListener("click", function() {
        modal.style.display = "block";
      })
  }
  for(var i=0; i<x.length; i++){
      x[i].addEventListener("click", function() {
        modal.style.display = "none";
      })
  }
  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
</script>

{% else %}
    <link href="https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap" rel="stylesheet">
         <style>
         body {
           background-image: url("{% static 'cat.jpg' %}");
           background-size:1600px 900px;
         }
         h1{
             color:#D17B43;
             font-family: 'Zilla Slab',serif;
             font-size: 50px;
         }
         p{
             color:#B58F12;
             font-family: 'Zilla Slab',serif;
             font-size: 25px;
         }
         footer {
             bottom: 0;
             width:100%;
             position: absolute;
         }
         #fixed-height {
            height: 100px;
            background-color: #57c975;
          }
          #remaining-height {
          background-color: #d9deda;
          position: absolute;
          top: 100px;
          bottom: 0;
          width: 100%;
        }
        </style>

        <div class="container text-center">
        <h1>Events</h1>
        <p>This page will show all your events, including ones you've created, were invited to, are interested in, and are attending! This is also where you can edit and delete previous events you have made. Once an event is edited, all attendees will be notified about the changes via email. </p>
        </div>
{% endif %}
{% endblock %}
